# enable MESA3D for EGL instead of GPU begin
# #include "gpu/mesa3d.config"
# BR2_PACKAGE_MESA3D_OSMESA_GALLIUM=y
# BR2_PACKAGE_MESA3D_LLVM=y
# BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_SWRAST=y
# BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_ZINK=y
# BR2_PACKAGE_MESA3D_VULKAN_DRIVER_SWRAST=y
# BR2_PACKAGE_LIBERATION=y
# enable MESA3D for EGL instead of GPU end

# enable GPU for EGL begin
# BR2_PACKAGE_ROCKCHIP_MALI=y
# enable GPU for EGL end

# Weston using PIXMAN for 2D ui by default
BR2_PACKAGE_WESTON_DEFAULT_PIXMAN=y
# BR2_PACKAGE_WESTON_DEMO_CLIENTS is reset to default
# BR2_PACKAGE_WESTON_SCREENSHARE is not set
# BR2_PACKAGE_WESTON_SHELL_FULLSCREEN is not set
# BR2_PACKAGE_WESTON_SHELL_IVI is not set
# BR2_PACKAGE_WESTON_SHELL_KIOSK is not set
# BR2_PACKAGE_WESTON_SIMPLE_CLIENTS is reset to default

BR2_PACKAGE_ROCKCHIP_RGA=y
BR2_PREFER_ROCKCHIP_RGA=y
