#include "base/base.config"
BR2_arm=y
BR2_cortex_a7=y
BR2_PACKAGE_ANDROID_ADB=y
BR2_PACKAGE_ANDROID_ADBD=y
BR2_PACKAGE_ANDROID_ADBD_STATIC=y
BR2_PACKAGE_ANDROID_ADB_STATIC=y
BR2_PACKAGE_AUDIT=y
BR2_PACKAGE_AUDIT_STATIC=y
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-full.config"
BR2_PACKAGE_BUSYBOX_STATIC=y
BR2_PACKAGE_COREMARK=y
BR2_PACKAGE_COREMARK_STATIC=y
BR2_PACKAGE_DHRYSTONE=y
BR2_PACKAGE_DHRYSTONE_STATIC=y
BR2_PACKAGE_EDID_DECODE=y
BR2_PACKAGE_EDID_DECODE_STATIC=y
BR2_PACKAGE_FRECON=y
BR2_PACKAGE_FRECON_SCALE=1
BR2_PACKAGE_FRECON_STATIC=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_DEBUGGER=y
BR2_PACKAGE_GDB_SERVER=y
BR2_PACKAGE_GDB_STATIC=y
BR2_PACKAGE_GPTFDISK=y
BR2_PACKAGE_GPTFDISK_CGDISK=y
BR2_PACKAGE_GPTFDISK_GDISK=y
BR2_PACKAGE_GPTFDISK_SGDISK=y
BR2_PACKAGE_GPTFDISK_STATIC=y
BR2_PACKAGE_INOTIFY_TOOLS=y
BR2_PACKAGE_INOTIFY_TOOLS_STATIC=y
BR2_PACKAGE_INPUT_EVENT_DAEMON=y
BR2_PACKAGE_INPUT_EVENT_DAEMON_STATIC=y
BR2_PACKAGE_IRQBALANCE=y
BR2_PACKAGE_IRQBALANCE_STATIC=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_JPEG_TURBO_STATIC=y
BR2_PACKAGE_LIBCURL_TLS_NONE=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
BR2_PACKAGE_LIBGLIB2_STATIC=y
BR2_PACKAGE_LIBTELNET=y
BR2_PACKAGE_LIBTELNET_STATIC=y
BR2_PACKAGE_LIBTIRPC=y
BR2_PACKAGE_LIBUNWIND=y
BR2_PACKAGE_LIBUNWIND_STATIC=y
BR2_PACKAGE_LINUX_TOOLS_PERF=y
BR2_PACKAGE_LINUX_TOOLS_PERF_STATIC=y
BR2_PACKAGE_LTRACE=y
BR2_PACKAGE_LTRACE_STATIC=y
BR2_PACKAGE_MEMTESTER=y
BR2_PACKAGE_MEMTESTER_STATIC=y
BR2_PACKAGE_NCURSES_STATIC=y
BR2_PACKAGE_PROCPS_NG=y
BR2_PACKAGE_PROCPS_NG_STATIC=y
BR2_PACKAGE_PROCRANK_LINUX=y
BR2_PACKAGE_PROCRANK_LINUX_STATIC=y
BR2_PACKAGE_RECOVERY=y
BR2_PACKAGE_RECOVERY_STATIC=y
BR2_PACKAGE_RECOVERY_UPDATEENGINEBIN=y
BR2_PACKAGE_RKTOOLKIT_STATIC=y
BR2_PACKAGE_RKUPDATE=y
BR2_PACKAGE_RKUPDATE_STATIC=y
BR2_PACKAGE_RKWIFIBT=y
BR2_PACKAGE_RKWIFIBT_STATIC=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_STRACE_STATIC=y
BR2_PACKAGE_STRESSAPPTEST=y
BR2_PACKAGE_STRESSAPPTEST_STATIC=y
BR2_PACKAGE_UMTPRD=y
BR2_PACKAGE_UMTPRD_STATIC=y
BR2_PACKAGE_UVC_GADGET=y
BR2_PACKAGE_UVC_GADGET_STATIC=y
BR2_PACKAGE_XZ=y
BR2_PACKAGE_ZSTD=y
BR2_PACKAGE_ZSTD_STATIC=y
